/* .video {
    margin: 20px;
} */

.label {
    margin: 20px;
    align-items: block;
    font-size: medium;
    /* vertical-align: center; */
    align-content: center;
    /* align-items: block; */
}

.items{
    align-content: center;
}

.top{
    margin: 20px; 
}

.filter{
    margin: 20px;
    display: flex !important;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.c{
    width: 400;
    height: 300;
}

.bigvideo{
    /* width: 100%; */
    /* align-content: center; */
    /* height: 300px; */
    display: flex;
    justify-content: space-around;
    margin: 20px !important;
    flex-direction: row;       
}

.v{
    width: 70%;
}

.person{
    width: 20%;
    background-color: lightgrey !important;
    /* float: right; */
}

.note{
    border-color: lightgray;
    border-style: solid;
    border-width: thin;
    margin-bottom: 1rem;
}

.bar{
    display: flex;
    align-content:space-evenly;
    flex-direction: row;  
    margin-bottom: 1em; 
    
}

.container{
    margin-left: inherit !important;
}

.overview1{
    display: flex;
}

.tag{
    display: flex;
    justify-content: space-between;
    flex-direction: row;  
    margin-bottom: 1em; 
    margin-left: 1em; 
    text-align: center;
}

.vbar{
    display: block;  
    margin-bottom: 1em; 
}

.videotitle{
    /* align-content: center; */
    align-self: center;
    font-weight: bold;
    color: gray;
}


ul { 
    list-style: none;
    margin: 1px 2px;
}

li {
    list-style: none;
    margin: 10px 0;
}

.tags-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.oval {
    /* width: 200px;
    height: 100px; */
    /* background: lightsteelblue;
    border-radius: 100px / 50px; */
    background:lightsteelblue;
        border-radius: 60%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        color: #6e6e6e;
        display: inline-block;
        font-weight: bold;
        line-height: 40px;
        margin-right: 5px;
        text-align: center;
        width: 40px;

  }

  .t{
      padding-left: 8px;
      padding-right: 8px;
      margin-right: 8px;
  }